.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.not-found-content {
  text-align: center;
  font-weight: 600;
}

.not-found-content h1 {
  font-size: 6em;
  color: #4481c3;
  margin: 0;
}

.not-found-content p {
  font-size: 1.5em;
  color: #34495e;
}

.not-found-content a {
  font-size: 1.5em;
  color: #34495e;
  text-decoration: underline;
}

.not-found-content a:hover {
  color: #4481c3;
}
